:root {

  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
    }

assetCard {
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(215,215,215,1) 17%, rgba(181,181,181,0.7343312324929971) 67%, rgba(144,190,226,0.42620798319327735) 100%);
}

li span:hover {
  cursor: pointer;
}

ol span:hover {
  cursor: pointer;
}

ul span:hover {
  cursor: pointer;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Aspect ratio for youtube videos */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 600px) {
  .player-wrapper {
      /* Adjust the aspect ratio or height here */
      padding-top: 75%;
  }
}

.peerConnectionState-new {
  color: cornflowerblue;
}
.peerConnectionState-connecting {
  color: orange;
}
.peerConnectionState-connected {
  color: green;
}
.peerConnectionState-disconnected,
.peerConnectionState-closed,
.peerConnectionState-failed {
  color: red;
}

.iceConnectionState-new {
  color: cornflowerblue;
}
.iceConnectionState-checking {
  color: orange;
}
.iceConnectionState-connected,
.iceConnectionState-completed {
  color: green;
}
.peerConnectionState-disconnected,
.peerConnectionState-closed,
.peerConnectionState-failed {
  color: red;
}

.iceGatheringState-new {
  color: cornflowerblue;
}
.iceGatheringState-gathering {
  color: orange;
}
.iceGatheringState-complete {
  color: black;
}

.signalingState-stable {
  color: green;
}
.signalingState-have-local-offer,
.signalingState-have-remote-offer,
.signalingState-have-local-pranswer,
.signalingState-have-remote-pranswer {
  color: cornflowerblue;
}
.signalingState-closed {
  color: red;
}

.streamingState-streaming {
  color: green;
}

.streamingState-empty {
  color: grey;
}

/* added css from here */

body * {
  font-family: 'Mulish', sans-serif;
  text-align: center;
}

#content {
  width: 820px;
  position: relative;
  margin: 0 auto;
}

#buttons {
  clear: both;
  padding: 0 0 0 0;
  text-align: center;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  margin: 0 5px;
  background-color: #7459fe;
  color: #fff;
}

button:hover {
  background-color: #9480ff;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

#status {
  clear: both;
  padding: 20px 0 0 0;
  text-align: left;
  display: inline-block;
  zoom: 1;
  line-height: 140%;
  font-size: 15px;
}

#status div {
  padding-bottom: 10px;
}

#video-wrapper {
  background: url(bg.png);
  height: 500px;
  background-position: top;
}

#video-wrapper div {
  width: 400px;
  margin: 0 auto;
  padding: 50px 0 0 0;
}
video {
  display: block;
  /*border:1px solid;*/
  border-radius: 50%;
  background-color: #fff;
}