:root {

  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
    }

assetCard {
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(215,215,215,1) 17%, rgba(181,181,181,0.7343312324929971) 67%, rgba(144,190,226,0.42620798319327735) 100%);
}

li span:hover {
  cursor: pointer;
}

ol span:hover {
  cursor: pointer;
}

ul span:hover {
  cursor: pointer;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Aspect ratio for youtube videos */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 600px) {
  .player-wrapper {
      /* Adjust the aspect ratio or height here */
      padding-top: 75%;
  }
}

